<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% if title %}{{ title }}{% else %}{{ metadata.title }}{% endif %}</title>

  <meta name="description" content="{% if description %}{{ description }}{% else %}{{ metadata.description }}{% endif %}">
  <meta name="theme-color" content="hsl(150, 100%, 38%)">
  <link rel="manifest" href="/manifest.webmanifest">

  {% if eleventy.environment == 'production' %}
    <style>
      {{ 'css/kleinfreund.css' | resolve_css_imports | minify_css }}

      {%- for cssPath in css -%}
        {% assign isolated_css_path = 'css/isolated/' | url | append: cssPath %}

        {%- capture isolated_css -%}
          {% include isolated_css_path %}
        {%- endcapture -%}

        {{ isolated_css | minify_css }}
      {%- endfor -%}
    </style>

    <script>
      {% include "js/color-scheme-toggle.js" %}
    </script>
  {% else %}
    <link rel="stylesheet" href="{{ '/css/kleinfreund.css' | url }}">

    {% for cssPath in css %}
      <link rel="stylesheet" href="{{ '/css/isolated/' | url }}{{ cssPath }}">
    {% endfor %}

    <script src="{{ '/js/color-scheme-toggle.js' | url }}"></script>
  {% endif %}

  <link rel="icon" href="{{ '/img/icon.png' | url }}">
  <link rel="icon" href="{{ '/img/icon.svg' | url }}" sizes="any" type="image/svg+xml">

  <link rel="alternate" href="{{ '/feed.xml' | url }}" type="application/atom+xml" title="Feed for kleinfreund.de">

  {% for profile in metadata.profiles %}
    <link rel="me" href="{{ profile }}">
  {% endfor %}

  <link rel="webmention" href="https://webmention.io/kleinfreund.de/webmention">
  <link rel="pingback" href="https://webmention.io/kleinfreund.de/xmlrpc">

  <script>
    console.log(`have a ${[...[...(2**2**2**2**2**2) + ''].slice(4, 6), ...[...[]+{}].slice(4, 6).reverse()].join('')} day, beautiful!`);
  </script>
</head>
<body class="js-disabled">

  <header class="site-head">

    <button class="button inline-button color-scheme-toggle" data-color-scheme-toggle type="button">
      <span class="color-scheme-toggle--enable-dark">Enable dark mode 🌚</span>
      <span class="color-scheme-toggle--enable-light">Enable light mode 🌞</span>
    </button>

    <ul class="site-nav">
      <li class="site-nav__item">
        <a href="{{ '/' | url }}">kleinfreund.de</a>
      </li>

      {% for page in collections.pages %}
        <li class="site-nav__item">
          <a href="{{ page.url }}">
            {% if page.data.menu_text %}
              {{ page.data.menu_text }}
            {% else %}
              {{ page.data.title }}
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>

  </header>

  <main class="page-content">
    {{ layoutContent }}
  </main>

</body>
</html>
