<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% if title %}{{ title }} – kleinfreund.de{% else %}{{ metadata.title }}{% endif %}</title>

  <meta name="description" content="{% if description %}{{ description }}{% else %}{{ metadata.description }}{% endif %}">
  <meta name="theme-color" content="hsl(150, 100%, 38%)">

  <link rel="icon" href="favicon.ico" sizes="48x48">
  <link rel="icon" href="img/icon.svg" sizes="any" type="image/svg+xml">
  <link rel="manifest" href="/manifest.webmanifest">

  {% if eleventy.isProduction %}
    <style>
      {{ 'css/main.css' | inline_css_imports | minify_css }}
    </style>
  {% else %}
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
  {% endif %}

  <link rel="alternate" href="{{ '/feed.xml' | url }}" type="application/atom+xml" title="Feed for kleinfreund.de">

  {%- for profile in metadata.profiles -%}
    <link rel="me" href="{{ profile }}">
  {%- endfor -%}

  <link rel="webmention" href="https://webmention.io/kleinfreund.de/webmention">
  <link rel="pingback" href="https://webmention.io/kleinfreund.de/xmlrpc">

  <script>
    console.log(`You’re beautiful. Have a ${((6**6**6) + '')[1] + Reflect.ownKeys(Array.prototype)[12].slice(2)} day.`);
  </script>
</head>

<body class="page">

  <main>
    {{ layoutContent }}
  </main>

  {% if eleventy.isProduction %}
    {% capture isolated_js %}
      {% for script_path in scripts %}
        {% include script_path %}
      {% endfor %}
    {% endcapture %}

    {% if isolated_js -%}
      <script defer>
        {{ isolated_js | minify_js }}
      </script>
    {%- endif %}
  {% else %}
    {% for script_path in scripts %}
      <script src="{{ '/' | url | append: script_path }}" defer></script>
    {% endfor %}
  {% endif %}

</body>
</html>
