<!DOCTYPE html>
<html lang="en" class="js-disabled">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% if title %}{{ title }} – kleinfreund.de{% else %}{{ metadata.title }}{% endif %}</title>

  <meta name="description" content="{% if description %}{{ description }}{% else %}{{ metadata.description }}{% endif %}">
  <meta name="theme-color" content="hsl(150, 100%, 38%)">
  <link rel="manifest" href="/manifest.webmanifest">

  {% if eleventy.isProduction %}
    <style>
      {{ 'css/kleinfreund.css' | resolve_css_imports | minify_css }}

      {%- for cssPath in css -%}
        {% assign isolated_css_path = 'css/isolated/' | url | append: cssPath %}

        {%- capture isolated_css -%}
          {% include isolated_css_path %}
        {%- endcapture -%}

        {{ isolated_css | minify_css }}
      {%- endfor -%}
    </style>
  {% else %}
    <link rel="stylesheet" href="{{ '/css/kleinfreund.css' | url }}">

    {%- for cssPath in css -%}
      <link rel="stylesheet" href="{{ '/css/isolated/' | url }}{{ cssPath }}">
    {%- endfor -%}
  {% endif %}

  <link rel="alternate" href="{{ '/feed.xml' | url }}" type="application/atom+xml" title="Feed for kleinfreund.de">

  {%- for profile in metadata.profiles -%}
    <link rel="me" href="{{ profile }}">
  {%- endfor -%}

  <link rel="webmention" href="https://webmention.io/kleinfreund.de/webmention">
  <link rel="pingback" href="https://webmention.io/kleinfreund.de/xmlrpc">
  <link rel="me" href="https://mastodon.social/@kleinfreund">

  <script>
    document.documentElement.classList.remove('js-disabled')
    console.log(`You’re beautiful. Have a ${((6**6**6) + '')[1] + Reflect.ownKeys(Array.prototype)[12].slice(2)} day.`);
  </script>
</head>

<body class="page">

  <main class="page__content">
    <button class="button color-scheme-toggle" type="button" data-color-scheme-toggle>
      <span class="color-scheme-toggle--enable-dark">
        Enable dark theme
      </span>

      <span class="color-scheme-toggle--enable-light">
        Enable light theme
      </span>
    </button>

    {{ layoutContent }}
  </main>

  {% if eleventy.isProduction %}
    <script defer>
      {%- capture script_content -%}
        {% include 'js/script.js' %}
      {%- endcapture -%}

      {{ script_content | minify_js }}
    </script>
  {% else %}
    <script src="{{ '/js/script.js' | url }}" defer></script>
  {% endif %}

</body>
</html>
