---
permalink: feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.description }}</subtitle>
  <id>{{ metadata.url }}/</id>
  <link href="{{ metadata.url }}/" />
  <link href="{{ permalink | absoluteUrl: metadata.url }}" rel="self"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>

  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.mail }}</email>
  </author>

  {%- for post in collections.posts reversed %}
    {%- assign absolutePostUrl = post.url | absoluteUrl: metadata.url %}
    <entry>
      <title>{{ post.data.title | escape }}</title>
      <id>{{ absolutePostUrl  }}</id>
      <link href="{{ absolutePostUrl }}"/>
      <updated>{{ post.date | dateToRfc3339 }}</updated>
      <content xml:lang="en" type="html">
        {{ post.content | convertHtmlToAbsoluteUrls: absolutePostUrl | escape }}
      </content>
    </entry>
  {%- endfor %}
</feed>
