---
layout: _includes/layouts/base.liquid
css:
- components.pagination.css
pagination:
  data: collections.posts
  size: 5
  reverse: true
---
<h1 class="visually-hidden">Articles</h1>

<ul class="post-list">
  {%- for post in pagination.items -%}
  <li>
    <article class="post">

      {% include '_includes/partials/timestamp.liquid', date: post.data.date %}

      <h2>
        {% if post.data.link %}
          <a href="{{ post.data.link }}">{{ post.data.title }}</a>
        {% else %}
          <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        {% endif %}
      </h2>

      {% excerpt post %}

    </article>
  </li>
  {%- endfor -%}
</ul>

{% if pagination.pageLinks.length > 1 %}
<nav class="pagination">
  {% if pagination.previousPageLink %}
    <a class="pagination__item" href="{{ pagination.previousPageHref | url }}">Newer Articles</a>
  {% else %}
    <span class="pagination__item">Newer Articles</span>
  {% endif %}

  {% if pagination.nextPageLink %}
    <a class="pagination__item" href="{{ pagination.nextPageHref | url }}">Older Articles</a>
  {% else %}
    <span class="pagination__item">Older Articles</span>
  {% endif %}
</nav>
{% endif %}
