---
title: List of lists
description: "A list of lists of things I like."
layout: layouts/page.liquid
eleventyComputed:
  date: "{{ list_of_lists.date }}"
---

<h2>Content</h2>

<ul>
  {% for list in list_of_lists.items %}
    <li>
      <a href="#{{ list.text.value | slugify }}">{{ list.text.value }}</a>
    </li>
  {% endfor %}

  <li>
    <a href="#record-collection">Record collection</a>
  </li>
</ul>

{% for list in list_of_lists.items %}
  {% render '_includes/partials/list.liquid', list: list %}
{% endfor %}

{% if records.length > 0 %}
  <h2>Record collection</h2>

  <ul>
    {% for record in records %}
      <li>{{ record.artists | join: '/' }}: {{ record.title }}</li>
    {% endfor %}
  </ul>
{% endif %}
